# Pre-process weather data

In [ ]:
import pandas as pd
import re
import numpy as np

In [80]:
# read in weather csv
weather_df = pd.read_csv('../uploaded_weather_data/weather_data.csv')
weather_df.count()

STATION    6729
DATE       6729
DEW        6729
WND        6729
TMP        6729
dtype: int64

### Drop missing values

In [81]:
# assign NA for containing missing values (+9999, 999) 
weather_df_clean = weather_df.replace(r'9999', np.NaN, regex=True)
weather_df_clean2 = weather_df_clean.replace(r'999', np.NaN, regex=True)

# drop any rows containing NaN
weather_df_clean3 = weather_df_clean2.dropna()
weather_df_clean3.count()

STATION    6279
DATE       6279
DEW        6279
WND        6279
TMP        6279
dtype: int64

In [82]:
weather_df_clean3.head()

       STATION                 DATE      DEW             WND      TMP
0  74486094789  2018-10-01T00:00:00  +0150,1  180,1,N,0036,1  +0183,1
1  74486094789  2018-10-01T00:51:00  +0150,5  190,5,N,0041,5  +0183,5
2  74486094789  2018-10-01T01:51:00  +0156,5  190,5,N,0041,5  +0183,5
3  74486094789  2018-10-01T02:51:00  +0161,5  200,5,N,0051,5  +0189,5
4  74486094789  2018-10-01T03:00:00  +0161,1  200,1,N,0051,1  +0189,1

## Curate data to get important features

In [88]:
# keep date and remove time
weather_df_clean4 = weather_df_clean3.replace({'DATE': r'T.{8}'}, '', regex=True)

# keep dew point and remove dew point code
weather_df_clean5 = weather_df_clean4.replace({'DEW': r',\d$'}, '', regex=True)

# keep wind speed and remove other wind data
weather_df_clean6 = weather_df_clean5.replace({'WND': r',\d$'}, '', regex=True)
weather_df_clean7 = weather_df_clean6.replace({'WND': r'.{8}'}, '', regex=True)


# keep air temperature and air temperature code
weather_df_final = weather_df_clean7.replace({'TMP': r',\d$'}, '', regex=True)

In [90]:
# save final weather data as parquet
weather_df_final.to_parquet('../data/curated/weather_data.parquet')