In [43]:
from pyspark.sql import SparkSession

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .getOrCreate()
)

In [ ]:
# convert csv files to parquet file format

import pandas as pd

df = pd.read_csv('../data/raw/oct.csv')
df.to_parquet('../data/raw/oct.parquet')
df.head()

In [42]:
# sdf = spark df = spark data frame

sdf = spark.read.parquet('../data/raw/oct.parquet')
sdf.show(5, vertical=True, truncate=100)

-RECORD 0----------------------------------
 Date            | Tue Oct 16 2018
 Start (ET)      | 8:00p
 Visitor/Neutral | Philadelphia 76ers
 PTS_visitor     | 87
 Home/Neutral    | Boston Celtics
 PTS_home        | 105
 Attend.         | 18624
 Arena           | TD Garden
-RECORD 1----------------------------------
 Date            | Tue Oct 16 2018
 Start (ET)      | 10:30p
 Visitor/Neutral | Oklahoma City Thunder
 PTS_visitor     | 100
 Home/Neutral    | Golden State Warriors
 PTS_home        | 108
 Attend.         | 19596
 Arena           | Oracle Arena
-RECORD 2----------------------------------
 Date            | Wed Oct 17 2018
 Start (ET)      | 7:00p
 Visitor/Neutral | Milwaukee Bucks
 PTS_visitor     | 113
 Home/Neutral    | Charlotte Hornets
 PTS_home        | 112
 Attend.         | 17889
 Arena           | Spectrum Center
-RECORD 3----------------------------------
 Date            | Wed Oct 17 2018
 Start (ET)      | 7:00p
 Visitor/Neutral | Brooklyn Nets
 PTS_visitor     | 100
 Home/Neutral    | Detroit Pistons
 PTS_home        | 103
 Attend.         | 20332
 Arena           | Little Caesars Arena
-RECORD 4----------------------------------
 Date            | Wed Oct 17 2018
 Start (ET)      | 7:00p
 Visitor/Neutral | Memphis Grizzlies
 PTS_visitor     | 83
 Home/Neutral    | Indiana Pacers
 PTS_home        | 111
 Attend.         | 17923
 Arena           | Bankers Life Fieldhouse
only showing top 5 rows